/* .wrapBlog {
  display: flex;
  justify-content: center;
  align-items: center;
}

.blog_post {
  width: 70%;
  border: 1px solid #ccc;
  border-bottom: 0;
  padding: 20px;
  border-radius: 5px;
  margin-bottom: 20px;
  margin-top: 70px;
}

.blog_title {
  font-size: 2.5rem;
  font-weight: bold;
  margin-bottom: 1rem;
  color: #333;
}

.blog_content {
  font-size: 1.1rem;
  line-height: 1.6;
  margin-bottom: 1.5rem;
}

.blog_author {
  font-size: 1rem;
  font-weight: bold;
  color: #666;
} */
/* CSS cho trang đọc báo với phần bình luận */
.wrapBlog {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.blog_post {
  width: 70%;
  border: 1px solid #ccc;
  padding: 20px;
  border-radius: 5px;
  margin-bottom: 20px;
  margin-top: 70px;
  background-color: #fff; /* Thêm một màu nền cho bài viết */
  box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.1); /* Thêm shadow cho phần bài viết */
}

.blog_title {
  font-size: 2.5rem;
  font-weight: bold;
  margin-bottom: 1rem;
  color: #333;
}

.blog_content {
  font-size: 1.1rem;
  line-height: 1.6;
  margin-bottom: 1.5rem;
}

.blog_author {
  font-size: 1rem;
  font-weight: bold;
  color: #666;
  text-align: right;
}

.Comment {
  width: 70%;
  margin-top: 10px;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 5px;
  background-color: #fff;
  box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.1);
  margin-bottom: 10px;
}
footer {
  margin-top: auto; 
}