body {
    min-height: 100vh; /* 100% of the viewport height */
    margin: 0;
  }
  
  .content {
    display: flex;
    flex-direction: column;
    margin-top: 70px;
    flex: 1; /* Fill remaining vertical space */
  }
  
.containerBody{
    display: flex;    
    justify-content: space-between;
    align-items: flex-start;
}
.leftHomePage{
    flex-basis: 70%;
}
.rightHomePage{
    flex-basis: 30%;
}

footer {
  margin-top: auto; /* Push the footer to the bottom */
}