/* getPosts.module.css */

.homeContainer {
  padding: 20px;
  padding-left: 0px;
  padding-bottom: 10px;
  width: 500px;
  margin-top: 15px;
  height: 100px;
}

.searchBar {
  display: flex;
  align-items: center;
  margin-bottom: 20px;
}

.form-input {
  flex: 1;
  padding: 8px;
  border-radius: 4px;
  border: 1px solid #ccc;
  margin-right: 10px;

}

.fa-microphone,
.fa-search {
  font-size: 20px;
  cursor: pointer;
  color: #999;
}

.fa-search:hover {
  color: #279dd8;
}

.ul {
  list-style-type: none;
  padding: 0;
  overflow-y:auto;
  border-radius: 5px;
  margin-top: 10px;
  width: 480px;
  position: absolute;
  background-color: white;
  z-index: 10;
  color: black;
  box-shadow: 1px 5px 9px 2px rgba(0, 0, 0, 0.1);

}

.li {
  margin-bottom: 10px;
  padding: 8px;
  cursor: pointer;
}

.li:hover {
  background-color: #f5f5f5;
}

.postTitle {
  margin: 0;
  font-size: 18px;
  color: #333;
}